<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin see user</title>
</head>
<body>
    <br><a href="/admin/users">Show All Users</a>|
    <a href="/admin/games">Show All Games</a>|
    <a href="/adminLogout">Logout Admin</a>
    <h1>Who Play <%=data.name%> ?</h1>
    <h3>Genre : <%=data.genre%></h3>
    <h3>Release Year : <%=data.release_year%></h3>
    <h3>Rating : <%=data.rating%></h3>
    <table border="2">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% data.Users.forEach(e=>{ %>
                <tr>
                    <td><%=e.first_name%></td>
                    <td><%=e.last_name%></td>
                    <td><%=e.gender%></td>
                    <td><%=e.email%></td>
                </tr>

            <% })%>
        </tbody>
    </table>
</body>
</html>