<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
<body>
    <h1>Welcome Back <%=data.gamersName()%>!</h1>
    <a href="/logout">LOGOUT</a>|<a href="/users/<%=id%>/addgame">Add Game</a>
    <table border="2">
        <thead>
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Release Year</th>
                <th>Rating</th>
                <th>Comment</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% data.Games.forEach(e=>{ %>
                <tr>
                    <td><%=e.name%></td>
                    <td><%=e.genre%></td>
                    <td><%=e.release_year%></td>
                    <td><%=e.rating%></td>
                    <td><%=e.UserGame.comment%></td>
                    <td><a href="/users/<%=id%>/delete/<%=e.id%>">Delete</a></td>
                </tr>
            <% }) %>

        </tbody>
    </table>
</body>
</html>